.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store

the-crane-html/index-bak.html
/the-crane-html/**/*bak*
**/*bak*

/crane-server/node_modules/
/crane-server/package-lock.json

.idea
._.idea
**/.idea
**/._.idea
